USE [master]
GO
/****** Object:  Database [Brokerage_firm]    Script Date: 12/6/2022 8:28:03 PM ******/
CREATE DATABASE [Brokerage_firm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brokerage_firm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Brokerage_firm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Brokerage_firm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Brokerage_firm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Brokerage_firm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Brokerage_firm]
GO
/****** Object:  Schema [schBrokerage]    Script Date: 12/6/2022 8:28:03 PM ******/
CREATE SCHEMA [schBrokerage]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/6/2022 8:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dname] [nvarchar](50) NULL,
	[Dnumber] [int] IDENTITY(1,1) NOT NULL,
	[Mgr_SSN] [int] NULL,
	[Mgr_Start_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dependent_]    Script Date: 12/6/2022 8:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependent_](
	[ESSN] [int] NOT NULL,
	[Dependent_Name] [nvarchar](50) NOT NULL,
	[Sex] [tinyint] NULL,
	[Bdate] [date] NULL,
	[Relationship] [nvarchar](50) NULL,
 CONSTRAINT [Dependent_KEY_COMPOSITE] PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[Dependent_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dept_Locations]    Script Date: 12/6/2022 8:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dept_Locations](
	[Dnumber] [int] NOT NULL,
	[Dlocation] [nvarchar](50) NOT NULL,
 CONSTRAINT [Department_KEY_COMPOSITE] PRIMARY KEY CLUSTERED 
(
	[Dnumber] ASC,
	[Dlocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/6/2022 8:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[SSN] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nvarchar](50) NULL,
	[Minit] [varchar](1) NULL,
	[Lname] [nvarchar](50) NULL,
	[Bdate] [date] NULL,
	[Address_] [nvarchar](50) NULL,
	[Sex] [tinyint] NULL,
	[Salary] [int] NULL,
	[DNO] [int] NULL,
	[Super_SSN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 12/6/2022 8:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Pname] [nvarchar](50) NULL,
	[Pnumber] [int] IDENTITY(1,1) NOT NULL,
	[Plocation] [nvarchar](50) NOT NULL,
	[DNO] [int] NULL,
 CONSTRAINT [Project_KEY_COMPOSITE] PRIMARY KEY CLUSTERED 
(
	[Pnumber] ASC,
	[Plocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Pnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Works_On]    Script Date: 12/6/2022 8:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Works_On](
	[ESSN] [int] NOT NULL,
	[PNO] [int] NOT NULL,
	[Hours] [int] NULL,
 CONSTRAINT [WorksOn_KEY_COMPOSITE] PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[PNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([Mgr_SSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Dependent_]  WITH CHECK ADD FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Dept_Locations]  WITH CHECK ADD FOREIGN KEY([Dnumber])
REFERENCES [dbo].[Department] ([Dnumber])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([DNO])
REFERENCES [dbo].[Department] ([Dnumber])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Super_SSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD FOREIGN KEY([DNO])
REFERENCES [dbo].[Department] ([Dnumber])
GO
ALTER TABLE [dbo].[Works_On]  WITH CHECK ADD FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Works_On]  WITH CHECK ADD FOREIGN KEY([PNO])
REFERENCES [dbo].[Project] ([Pnumber])
GO
ALTER TABLE [dbo].[Dependent_]  WITH CHECK ADD CHECK  (([Sex]>=(0) AND [Sex]<=(2)))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Sex]>=(0) AND [Sex]<=(1)))
GO
USE [master]
GO
